@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

body {
    font-family: Arial, sans-serif;
    background-color: #a0d5c0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
}

#foto {
    border: 5px solid white;
    border-radius: 5px;
}

#qrcode {
    border: 15px solid white;
    border-radius: 5px; 
}

.logos {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.profile {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.profile img {
    width: 40%;
    height: auto;
    margin: auto;
}

.logos img {
    width: 35%;
    height: auto;
    margin: auto;
}

.container {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    width: 80%;
}


.card-preview {
    flex: 1;
    min-width: 300px;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-field {
    margin: 10px 0;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}